################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/LucasTecnologiaServices.Infrastructure/bin/Debug/net5.0
