################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Web Hosting/LucasTechnology.Web/Properties
