@page "/wsfhgy854"

<h3>Agendamento de Pagamentos</h3>

<div class="style="min-height:80vh;">
    <div class="collapse carousel-root p-5 text-light" id="informations" style="color:yellow !important;"></div>
    <div class="d-flex justify-content-center mb-3 mt-5">
        <button id="buttonClick" class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#formPayments" aria-expanded="false" aria-controls="collapseExample">
            Faça a sua matrícula agora !!
        </button>

    </div>
    <div class="collapse carousel-root p-5" id="formPayments">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputStudentName">Empresa Credora</label>
                    <input type="text" class="form-control" id="inputCredName" placeholder="Nome do credor"
                           required>
                              

                    
                    <style>
                        label {
                            color: red;
                        }
                    </style>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputName">Data de Pagamento</label>
                    <input type="date" class="form-control" id="inputName" placeholder="Ex: MM/AA" required>
                    <style>
                        label {
                            color: wheat;
                        }
                    </style>
                </div>

                               
                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputStudentName">Endereço completo</label>
                    <input type="text" class="form-control" id="inputStudentName" placeholder="Endereço completo">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputStudentName">Bairro</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Informe o seu bairro" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputName">Cidade</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Insira o nome de sua cidade" required>
                </div>
                <div class="form-group">
                    <label for="inputName">Estado</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Insira o nome do seu Estado" required>


                    <style>
                        label {
                            color: wheat;
                        }
                    </style>
                </div>
                <div class="form-group col-md-6">

                    <label for="inputPhone">Telefone</label>
                    <input type="number" class="form-control" id="inputPhone" placeholder="Telefone" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCountryName">País</label>
                    <input type="text" class="form-control" id="inputCountryName" placeholder="Insira o nome do seu Paaís" required>
                </div>
                <div class="form-group col-md-6">

                    <label for="inputEmail">E-mail</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" required>
                </div>


            </div>
            
            
            <div class="form-group col-md-6">
                 
                
                <label class="container">
                    Maior de 18 anos
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                
                <div class="form-group col-md-6">
                    <label for="inputCardNumber">Número do Cartão</label>
                    <input type="text" class="form-control" id="inputCardNumber" onchange="findFlag()"
                           placeholder="Ex: AAAA-BBBB-CCCC-DDDD" required>
                    <label id="bandeira">

                    </label>
                    
                    <hr />
                    <img id="bandeiraFlag" src="~/media/credit-card-flag/creditcardflag.jpg" width="125px" height="45px" alt="Card image cap"> 
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputSecCode">Código de Segurança</label>
                    <input type="password" class="form-control" id="inputSecCode" placeholder="Ex: 123" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCPF">CPF do titular</label>
                    <input type="text" class="form-control" id="inputCPF" placeholder="Ex: 123.456.789-10" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group justify-content-center">
                    <label for="inputStateBook">Nível do Curso</label>
                    <select id="inputStateLevel" class="form-control" required>
                        <option selected>Escolha...</option>
                        <option>Nível Básico 1</option>
                        <option>Nível Básico 2</option>
                        <option>Nível Intermediário 1</option>
                        <option>Nível Avançado 1</option>
                        <option>Nível Avançado 2</option>

                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAge18">Valor à Pagar</label>
                    <select id="inputPaymentValue" class="form-control" required>
                        <option selected>R$120</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Confirmar Matrícula</button>
        </form>
    </div>
</div>